<link rel="stylesheet" type="text/css" href="/stylesheets/styles.css">
<div class="login-page">
  <div class="form">
    <h1>Welcome <%= username %>, back to the site!</h1>
    <!-- An anchor tag always points to a GET route --!>
    <p><a href="/logout">Log out</a></p>
  </div>
</div>